{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/clasificar.css' %}">
    <!-- <link rel="stylesheet" href="clasificar.css"> -->
    <title>PhotoClassify|Clasificar</title>  
</head>

<body>
    <header class="header">
      <div class="contenedor_logo">
          <figure>
              <img class="logo" src="./imagenes/logo_verde.png"          alt="">
          </figure>
          <p class="titulo">PhotoClassify</p>
      </div>
      <div class="navegador">
          <ul>
              <a href=""><li>| Inicio</li></a> 
              <a href=""><li>| Acerca de</li></a>
              <a href=""><li>| Contacto</li></a>
          </ul>
      </div>
    </header>
    <main class="main">
      <div class="contenedor_menu">
            <a href="http://127.0.0.1:8000/photos/{{photo.indice}}"></a>
      </div>
      <section class="mis_fotos">
              <div>
                <img src="{% static 'imagenes/'%}{{photo.data}} " alt="">
              </div>
    </section>
    <section class="menu_update">
      <h1>UPDATE</h1>
      
      <form  method="POST">
        <label for="scheme">Esquema:</label>
        <input list="options-schema" id="shcema" name="opt_schema" placeholder="Selecciona un esquema">
        
        <datalist id="options-schema">              
          <option value="Rembrandt (Luz a 45º)">
          <option value="Luz Lateral (Luz a 90º)">
          <option value="Rembrandt Elevado">
          <option value="Luz Lateral + Luz Frontal">
          <option value="Rembrandt + Contraluz">
          <option value="Luces a 45º y a -45º">
          <option value="Rembrandt + Luz Frontal">
          <option value="Rembrandt + Luz lateral">
        </datalist>

        <label for="config">Configuración:</label>
        <input list="options-config" id="config" name="opt_config" placeholder="Configuracion">
        
        <datalist id="options-config">
          <option value="50">
          <option value="100">
          <option value="200">
          <option value="400">
          <option value="800">
          <option value="1600">
          <option value="3200">
          <option value="6400">
        </datalist>

        <label for="type">Tipo:</label>
        <input list="options-type" id="type" name="opt_config" placeholder="Tipo">
        
        <datalist id="options-type">
          <option value="Plano Entero">
          <option value="Plano Medio">
          <option value="Plano Medio Corto">
          <option value="Primer Plano">
          <option value="Plano detalle">
          </datalist>
        
        <input type="submit" value="Enviar">
      </form>
    </section>
</body>
</html>
