{%load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/clasificar2.css' %}">
    <!-- <link rel="stylesheet" href="clasificar.css"> -->
    <title>PhotoClassify|Clasificar</title>  
</head>

<body>
    <header class="header">
      <div class="contenedor_logo">
          <figure>
              <img class="logo" src="{% static './imagenes/logo_blanco.png' %}" alt="">
          </figure>
          <p class="titulo">PhotoClassify</p>
      </div>
      <div class="navegador">
          <ul>
              <a href=""><li>| Inicio</li></a> 
              <a href=""><li>| Acerca de</li></a>
              <a href=""><li>| Contacto</li></a>
          </ul>
      </div>
    </header>
    <main class="main">
      <div class="contenedor_menu">
        <p class="texto_menu">PhotoClassify</p>
        <div class="botones">
          <a href="http://127.0.0.1:8000/photos/" class="boton_volver">
              <span class="volver">Volver</span>
          </a>
          <a class="boton_eliminar"> 
            <span class="eliminar">Eliminar</span>
          </a>
        </div>
      </div>
      <section class="mis_fotos">
              <div>
                <img src="{% static 'imagenes/'%}{{photo.data}} " alt="">
              </div>
    </section>
    
    <section class="menu_update">
      <p class="titulo_update">Clasificar</p>
      
      <form  method="POST">
        {% csrf_token %}

        <label for="scheme">Esquema:</label>
        <input list="options-schema" id="shcema" name="opt_schema" placeholder="Selecciona un esquema">
        
        <datalist id="options-schema">              
          <option value="Rembrandt (Luz a 45º)">
          <option value="Luz Lateral (Luz a 90º)">
          <option value="Rembrandt Elevado">
          <option value="Luz Lateral + Luz Frontal">
          <option value="Rembrandt + Contraluz">
          <option value="Luces a 45º y a -45º">
          <option value="Rembrandt + Luz Frontal">
          <option value="Rembrandt + Luz lateral">
        </datalist>

        <label for="type">Tipo:</label>
        <input list="options-type" id="type" name="opt_type" placeholder="Tipo">
        
        <datalist id="options-type">
          <option value="Plano Entero">
          <option value="Plano Medio">
          <option value="Plano Medio Corto">
          <option value="Primer Plano">
          <option value="Plano detalle">
        </datalist>

        <label for="config">Configuración</label>

        <label for="Iso">Iso:</label>
        <input list="options-iso" id="Iso" name="opt_iso" placeholder="Iso">
        
        <datalist id="options-iso">
          <option value="50">
          <option value="100">
          <option value="200">
          <option value="400">
          <option value="800">
          <option value="1600">
          <option value="3200">
          <option value="6400">
        </datalist>

        <label for="tmp-obturación">Tiempo-Obturación:</label>
        <input list="options-tmp" id="tmp-onbtiracion" name="opt_tmp" placeholder="Timepo-Obturacion">
        
        <datalist id="options-tmp">
          <option value="8">
          <option value="4">
          <option value="2">
          <option value="1">
          <option value="1/2">
          <option value="1/4">
          <option value="1/8">
          <option value="1/15">
          <option value="1/30">
          <option value="1/60">
          <option value="1/125">
          <option value="1/250">
          <option value="1/500">
          <option value="1/1000">
          <option value="1/2000">    
        </datalist>      


        <label for="diafragma">Diafragma:</label>
        <input list="options-dgr" id="diafragma" name="opt_diafragma" placeholder="Diafragma">
        
        <datalist id="options-dgr">
          <option value="f/1.4">
          <option value="f/2">
          <option value="f/4">
          <option value="f/8">
          <option value="f/11">
          <option value="f/16">
          <option value="f/22">
          <option value="f/32">
          <option value="">
          <option value="">
          <option value="">
          <option value="">
          <option value="">
          <option value="">
          <option value="">    
        </datalist>      

      <label for="indice">indice:</label>
      <input name="indice" value="{{photo.indice}}" readonly>

      <input class="enviar" type="submit" value="Enviar">
    </form>
    </section>
</body>
</html>
