{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style_mis_fotos.css' %}" >
    <title>Mis fotos</title>
</head>
<body>
    <header class="header">
        <div class="contenedor_logo">
            <figure>
                <img class="logo" src="./imagenes/logo_verde.png" alt="">
            </figure>
            <p class="titulo">PhotoClassify</p>
        </div>
        <div class="navegador">
            <ul>
                <a href=""><li>| Inicio</li></a> 
                <a href=""><li>| Acerca de</li></a>
                <a href=""><li>| Contacto</li></a>
            </ul>
        </div>
    </header>

    <h1 class="title_main">Mis Fotos</h1>

    <main class="main">
        <div class="contenedor_menu">
                <p class="texto_menu">PhotoClassify</p>
                <button class="boton_volver">
                    <span class="volver">Volver</span>
                </button>
        </div>
        <section class="mis_fotos">
            {% for n in imagen %}
                <a href="/photos/{{n.indice}}">
                    <img src="{% static 'imagenes/'%}{{n.data}}">
                    <p>{{n.scheme}}</p>
                </a>               
            {% endfor %}

        </section>  
    </main>
</body>
</html>