{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style_mis_fotos.css" > -->
    <link rel="stylesheet" href="{% static '/mis_fotos1.css' %}" >
    <title>Mis fotos</title>
</head>
<body>
    <header class="header">
        <div class="contenedor_logo">
            <figure>
                <img class="logo" src="./imagenes/logo_blanco.png" alt="">
            </figure>
            <p class="titulo">PhotoClassify</p>
        </div>
        <div class="navegador">
            <ul>
                <a href=""><li>| Inicio</li></a> 
                <a href=""><li>| Acerca de</li></a>
                <a href=""><li>| Contacto</li></a>
            </ul>
        </div>
    <main class="main">
        <div class="contenedor_menu">
                <p class="texto_menu">PhotoClassify</p>
                <button class="boton_volver">
                    <span class="volver">Volver</span>
                </button>
        </div>
        <div class="titulo_main">
            <p>Mis Fotos</p>
            <figure>
                <img class="logo_main" src="./imagenes/tripode_blanco.png" alt="">
            </figure>
        </div>
        <section class="mis_fotos">
            {% for n in imagen %}
                <a href="/photos/clasificar/{{n.indice}}">
                    <img src="{% static 'imagenes/'%}{{n.data}}">
                    <p>{{n.scheme}} {{n.config}}  {{n.type}}</p>
                </a>               
            {% endfor %}
        </section>  
    </main>
    </header>
</body>
</html>