* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 1 rem = 10 */
html {
    position: relative;
    font-size: 62.5%;

}

body {
    position: relative;
    background-color: #77AA77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%2377AA77'/%3E%3Cstop offset='1' stop-color='%2344FFDD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%2371b376'/%3E%3Cstop offset='1' stop-color='%234affc7'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%236cbb78'/%3E%3Cstop offset='1' stop-color='%2350ffb3'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%2366c47b'/%3E%3Cstop offset='1' stop-color='%2357ffa1'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2361cc81'/%3E%3Cstop offset='1' stop-color='%235dff8f'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%235dd489'/%3E%3Cstop offset='1' stop-color='%2363ff80'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%2358dc93'/%3E%3Cstop offset='1' stop-color='%2369ff72'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%2354e39e'/%3E%3Cstop offset='1' stop-color='%2379ff6f'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%234feaac'/%3E%3Cstop offset='1' stop-color='%2390ff75'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%234bf1bb'/%3E%3Cstop offset='1' stop-color='%23a6ff7c'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%2348f8cb'/%3E%3Cstop offset='1' stop-color='%23baff82'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%2344FFDD'/%3E%3Cstop offset='1' stop-color='%23CCFF88'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.08'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

:root {
    --primary_color: #44FFDD;
    --secundary_color: #77AA77;
    --tertiary_color: #CCFF88;
    --type_font: Verdana, Geneva, Tahoma, sans-serif;
} 

/* header */
.header {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: white;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contenedor_logo {
    position: relative;
    width: 32rem;
    height: 5rem;
}

.logo {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 8.5rem;
    height: 5rem;
}

.titulo {
    position: absolute;
    top: 0.1rem;
    left: 8rem;
    width: 30rem;
    height: 4rem;
    font-family: var(--type_font);
    font-size: 3.5rem;
    color: var(--secundary_color);
}

.navegador {
    position: relative;
    width: 45rem;
    height: 5rem;
    list-style: none;
    font-family: var(--type_font);
    font-size: 1.5rem;
    color: var(--secundary_color);
} 

.navegador {
    position: relative;
    list-style: none;
    font-family: var(--type_font);
    font-size: 1.5rem;
    color: var(--secundary_color);
}

.navegador li {
    display: inline-block;
    margin: 1rem 0;
    padding-left: 4rem;
    padding-right: 2rem;
} 
/* main */
.main {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 80.5vh;
    overflow-y: auto;
    margin-top:2rem;
    justify-content: space-evenly;
}

.title_main{
    position: relative;
    width: 20rem;
    height: 4rem;
    font-size: 3rem;
    font-family: var(--type_font);
    color: white;
    margin: 0 auto;
}

.contenedor_menu {
    display: flex;
    position: relative;
    border: 0.2rem solid white;
    width: 20vw;
    min-width: 12rem;
    height: 80vh;
    margin: 3rem;
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
}

.mis_fotos {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    min-width: 22rem;
    border: 0.2rem solid white;
    min-height: 10rem;
    margin: 0 auto;
    align-items: center;
}

.mis_fotos div{
    position: relative;
    display: flex;
    width: 30vw;
    height: 70vh;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 1rem;
    align-items: center;
}
.mis_fotos img{
    width: 28vw;
    height: 68vh;
    margin: 0 auto;
}

.menu_update {
    display: flex;
    position: relative;
    border: 0.2rem solid white;
    width: 20vw;
    min-width: 12rem;
    height: 80vh;
    margin: 4rem;
    margin-top: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu_update h1{
    font-size: 3.5rem;
    text-align: center;
}
.menu_update form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu_update form label{
    font-size: 2rem;    
}

.menu_update form input{
    margin-bottom:2rem;

}