* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;

}

body {
    position: relative;
}

:root {
    --primary_color: #44FFDD;
    --secundary_color: #77AA77;
    --tertiary_color: #CCFF88;
    --type_font: Verdana, Geneva, Tahoma, sans-serif;
}


/* header */
.header {
    position: relative;
    width: 100%;
    height: 5rem;
    background-color: white;
    border: 1px solid var(--secundary_color);
    display: flex;
    flex-wrap: wrap;
}

.logo {
    position: absolute;
    left: 0rem;
    width: 8.5rem;
    height: 5rem;
}

.titulo {
    position: absolute;
    top: 0rem;
    left: 8.5rem;
    font-family: var(--type_font);
    font-size: 3.5rem;
    color: var(--secundary_color);
    
}


.navegador {
    position: absolute;
    right: 4.5rem;
    /* top: 1.5rem; */
    list-style: none;
    font-family: var(--type_font);
    font-size: 1.5rem;
    color: var(--secundary_color);
}

.navegador li {
    display: inline-block;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}

/* main */
.main {
    position: relative;
    width: 100%;
    height: 55rem;
    background-color: #77AA77;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%2377AA77'/%3E%3Cstop offset='1' stop-color='%2344FFDD'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%2371b376'/%3E%3Cstop offset='1' stop-color='%234affc7'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%236cbb78'/%3E%3Cstop offset='1' stop-color='%2350ffb3'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%2366c47b'/%3E%3Cstop offset='1' stop-color='%2357ffa1'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%2361cc81'/%3E%3Cstop offset='1' stop-color='%235dff8f'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%235dd489'/%3E%3Cstop offset='1' stop-color='%2363ff80'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%2358dc93'/%3E%3Cstop offset='1' stop-color='%2369ff72'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%2354e39e'/%3E%3Cstop offset='1' stop-color='%2379ff6f'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%234feaac'/%3E%3Cstop offset='1' stop-color='%2390ff75'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%234bf1bb'/%3E%3Cstop offset='1' stop-color='%23a6ff7c'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%2348f8cb'/%3E%3Cstop offset='1' stop-color='%23baff82'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%2344FFDD'/%3E%3Cstop offset='1' stop-color='%23CCFF88'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill-opacity='0.08'%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;   
}

.estudio_img {
    position: absolute;
    width: 40rem;
    height: 35rem;
    right: 3.5rem;
    bottom: 12rem;
}


.titulo_main {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 10rem;
    left: 10rem;
    /* border: 3px solid white; */
    font-family: var(--type_font);
    font-size: 6rem;
    color: white;
}

.tripode_img {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 10rem;
    left: 52rem;
}

.botones {
    position: absolute;
    width: 70rem;
    height: 30rem;
    top: 20rem;
    left: 10rem;
    /* border: 3px solid white;  */
}

.boton_mis_fotos {
    /* width: 9rem;
    height: 2.5rem; */
    position: absolute;
    bottom: 24.5rem;
    left: 0rem;
    text-align: center;
    /* border: 0; */
    border: 2px solid white;
    background-image: linear-gradient(
        150deg,
        var(--primary_color),
        var(--secundary_color),
        var(--tertiary_color) 
    );
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: .3s;
    font-family: var(--type_font);
}

.mis_fotos {
    background-color: #111;
    padding: 1.5rem 3rem;
    border-radius: 0.6rem;
    transition: .3s;
} 

.boton_mis_fotos:hover .mis_fotos {
    background-color: transparent;
}

.boton_mis_fotos:active{
    transform: scale(0.9);
}  


.boton_clasificar {
    /* width: 9rem;
    height: 2.5rem; */
    position: absolute;
    bottom: 17.5rem;
    left: 12.5rem;
    text-align: center;
    border: 0;
    border: 2px solid white;
    background-image: linear-gradient(
        150deg,
        var(--primary_color),
        var(--secundary_color),
        var(--tertiary_color)
    );
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: .3s;
    font-family: var(--type_font)
}

.clasificar {
    background-color: #111;
    padding: 1.5rem 3.3rem;
    border-radius: 0.6rem;
    transition: .3s;
} 

.boton_clasificar:hover .clasificar {
    background-color: transparent;
}

.clasificar:active{
    transform: scale(0.9);
}  

.boton_buscar {
    /* width: 9rem;
    height: 2.5rem; */
    text-align: center;
    position: absolute;
    bottom: 11.5rem;
    left: 26rem;
    border: 0;
    border: 2px solid white;
    background-image: linear-gradient(
        150deg,
        var(--primary_color),
        var(--secundary_color),
        var(--tertiary_color)
    );
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: .3s;
    font-family: var(--type_font)
}

.buscar {
    background-color: #111;
    padding: 1.5rem 3.9rem;
    border-radius: 0.6rem;
    transition: .3s;
}

.boton_buscar:hover .buscar {
    background-color: transparent;
}

.boton_buscar:active{
    transform: scale(0.9);
}  

.boton_papelera {
    /* width: 9rem;
    height: 2.5rem; */
    position: absolute;
    bottom: 5.5rem;
    left: 40rem;
    /* border: 0; */
    border: 2px solid white;
    background-image: linear-gradient(
        150deg,
        var(--primary_color),
        var(--secundary_color),
        var(--tertiary_color)
    );
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 1.5rem;
    padding: 0.4rem;
    cursor: pointer;
    transition: .3s;
    font-family: var(--type_font)
}

.papelera {
    background-color: #111;
    padding: 1.5rem 3rem;
    border-radius: 0.6rem;
    transition: .3s;
}

.boton_papelera:hover .papelera {
    background-color: transparent;
}

.boton_papelera:active{
    transform: scale(0.9);
}  

/* footer  */
.footer {
    position: absolute;
    width: 100%;
    height: 8.1rem;
    background-color: white;
    border: 1px solid var(--secundary_color);

}

.div__acercade {
    position: absolute;
    left: 0.5rem;
    bottom: 1rem;
    width: 50rem;
}

.texto_acercade {
    font-family: var(--type_font);
    color: var(--secundary_color); 
    font-size: 1.2rem;
}

.div__acercade::after {
        content: "";
        display: block;
        width: 1.5px;
        height: 100%;
        background-color: var(--secundary_color);
        position: absolute;
        top: 0;
        left: 47rem; /* Ajusta el valor según el espacio deseado */   
  }

.correos {
    position: absolute;
    left: 50rem;
    bottom: 1.2rem;
    font-family: var(--type_font);
    font-size: 1.2rem;
    color: var(--secundary_color);
}

.correos::after {
    content: "";
    display: block;
    width: 1.5px;
    height: 100%;
    background-color: var(--secundary_color);
    position: absolute;
    top: 0;
    left: 18rem; /* Ajusta el valor según el espacio deseado */   
}


.logo_linkIn {
    position: absolute;
    bottom: 2.5rem;
    left: 70rem;
    width: 3rem;
    height: 3rem;
    transition: box-shadow 0.3s ease;
}

.logo_linkIn:hover {
    filter: grayscale(100%)
}

.logo_github {
    position: absolute;
    bottom: 2.3rem;
    left: 74rem;
    width: 3.7rem;
    height: 3.7rem;
    transition: box-shadow 0.3s ease;
}

.logo_github:hover {
    filter: grayscale(100%)
}


.logo_un {
    position: absolute;
    bottom: 2.5rem;
    left: 78.5rem;
    width: 3rem;
    height: 3rem;
    transition: box-shadow 0.3s ease;
}

.logo_un:hover {
    filter: grayscale(100%)
}

.barra_separadora_un {
    position: absolute;
    left: 84rem;
    width: 1.5px;
    height: 60px;
    margin-top: 8px;
    background-color: var(--secundary_color);
}

.privacidad {
    position: absolute;
    left: 90rem;
    font-family: var(--type_font);
    font-size: 1rem;
    color: var(--secundary_color);
    
}

.privacidad__texto {
    margin-top: 3rem;
}












